 .window {
     width: 100%;
     height: 100%;
     background: #151515;
     border-radius: 0.5rem;
     overflow: hidden;

     opacity: 1;
     transform: translateY(0) scale(1);


     transition:
         transform 0.2s cubic-bezier(0.47, 0, 0.745, 0.715),
         opacity 0.2s ease-in;

     &.is-closing {
         transform: translateY(60px) scale(0.95);
         opacity: 0;
         pointer-events: none;
     }


     .top {
         border-bottom: rgb(123, 122, 122);
         padding: 0.5rem;
         gap: 1rem;
         display: flex;
         align-items: center;


         .dotes {
             display: flex;
             gap: 0.2rem;

             .dot {
                 height: 10px;
                 width: 10px;
                 border-radius: 50%;
                 cursor: pointer;
             }

             .red {
                 background: #ff5f56;
                 position: relative;
                

                 &::after {
                     content: "close";
                     font-size: 14px;
                     color: rgb(255, 255, 255);
                     padding: 1px 4px;
                     border-radius: 2px;
                     background: #353535;
                     opacity: 0;
                     transition: opacity 0.2s ease;

                     position:  absolute;
                     top: 16px;
                 }

                  &:hover::after {
                     opacity: 1;
                 }
             }

             .yellow {
                 background: rgb(234, 234, 2);
             }

             .green {
                 background: rgb(0, 191, 0);
             }

         }

         p {
             color: rgb(137, 136, 136);
         }
     }

     .mainContent {
         height: 100%;

     }


     *::-webkit-scrollbar {
         width: 6px;

     }

     *::-webkit-scrollbar-thumb {
         background: rgb(133, 131, 131);
         border-radius: 1rem;
     }



 }