.cards {
  color: white;
  padding: 1rem;
  overflow: scroll;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 10rem;

  .card {
    border: 1px solid rgb(69, 68, 68);
    color: white;
    padding: 0.5rem;
    background: rgb(52, 53, 54);
    border-radius: 0.4rem;

    flex-grow: 1;
    flex-basis: 19rem;
    max-width: 20rem;
    

    img{
        width: 100%;
        height: 14rem;
        pointer-events: none;
        border-radius: 0.5rem;
    }

    h1{
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.3;
        margin-block:1rem ;
    }
    p{
        opacity: 0.8;
        font-size: 0.9rem;
        word-spacing: 0.4rem;
        line-height: 1.3rem;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.4rem;
        margin-block: 1rem;

       

      .tag {
        color: white;
        padding-inline: 0.5rem;
        padding-block: 0.2rem;
        border-radius: 0.2rem;
        background: rgba(4, 4, 25, 0.393);
        
      }
    }

    .urls{
        display: flex;
        justify-content: space-between;
        
        a{
            color: whitesmoke;
            font-size: 0.9rem;
           
        }
    }


  }
}
