.dock{
    display: flex;
    gap: 0.75rem;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;

    background-color: rgb(63, 63, 63 ,0.395);
    backdrop-filter: blur(2px);
    padding-inline: 1rem;
    padding-block: 0.75rem;
    border-radius : 0.75rem;



    .icon{
        padding: 0.65rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1/1;
        width: 3.75rem;
        transition: all 0.2s linear;

    }

    .icon:hover{
        transform: scale(1.25) translateY(-20%);
    }

    
    .icon:hover + .icon ,
    .icon:has(+ .icon:hover){
        transform: scale(1.1) translateY(-10%);
    }





    .github , .cli{
        background-color: rgb(35, 33, 33);
    }

    .note{
        background: linear-gradient(to bottom , rgb(255, 194, 108) , rgb(184, 161, 30));
    }

    .pdf{
        background: linear-gradient(rgb(254, 87, 87) , rgb(230, 21, 21)) ;
    }

    .calender , .mail{
        background: linear-gradient( rgb(105, 94, 255), rgb(66, 52, 255));
    }
    
    .link{
        background: linear-gradient(rgb(207, 21, 207) , rgb(164, 1, 164));
    }

    .spotify{
        background: linear-gradient(rgb(78, 176, 33) , rgb(53 , 142 ,12));
    }

}