nav{
    background: rgba(32, 31, 31, 0.142);
    backdrop-filter: blur(5px);
    color: white;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    padding-inline: 0.5rem;
    position: absolute;
    top: 0;
    width: 100%;
   

   font-family: system-ui, -apple-system,'Open Sans', 'Helvetica Neue', sans-serif;


   .left , .right{
    display: flex;
   
     
    .nav-items{
        padding-inline: 0.45rem;
        padding-block: 0.35rem;
    }
   }

}